@include border-box-sizing;

.computerLabels {
	overflow: hidden;
	&:nth-of-type(8n) {
		page-break-after: always;
	}
	background: $white;
	color: $black;
	margin: .1in;
	width: $inch * 3.5;
	height: $inch * .875;
	.leftBox{
		@include clearfix;
		width: ($inch * .875) + 5px;
		height: $inch * .875;
		float: left;
		-ms-transform: rotate(-90deg); /* IE 9 */
    	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
   	transform: rotate(-90deg);
		.computer {
			width: $inch * .875;
			text-align: center;
			font-size: 14px;
			margin: auto;
			margin-top: 20px;
			padding: 10px 2px;
			background: $black;
			color: $white;
		}
	}
	.rightBox {
		margin-left: -14px;
		width: $inch * 2.625;
		height: $inch * .875;
		float: left;
		text-align: center;
		padding-top: 10px;
		.partNum {
			font-size: 40px;
		}
		.specs {
			font-size: 16px;
		}
	}
}

.iPadLabels {
	overflow: hidden;
	&:nth-of-type(8n) {
		page-break-after: always;
	}
	margin: .1in;
	width: $inch * 3.5;
	height: $inch * .875;
	.leftBox{
		@include clearfix;
		width: ($inch * .875) + 5px;
		height: $inch * .875;
		float: left;
		-ms-transform: rotate(-90deg); /* IE 9 */
    	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
   	transform: rotate(-90deg);
		.carrier {
			width: $inch * .875;
			text-align: center;
			font-size: 14px;
			margin: auto;
			margin-top: 20px;
			padding: 10px 2px;
			background: $black;
			color: $white;
		}
	}
	.rightBox {
		margin-left: -14px;
		width: $inch * 2.625;
		height: $inch * .875;
		float: left;
		text-align: center;
		padding-top: 10px;
		.partNum {
			font-size: 40px;
		}
		.details {
			font-size: 20px;
			.size{
				display: inline-block;
			}
			.name{
				display: inline-block;
			}
		}
	}
}


.iPhoneLabels {
	font-family: $primary-medium;
	background: $white !important;
	margin: .1in;
	padding: 10px;
	width: $inch * 4.5; 
	height: $inch * 2.75;
	border: 6px solid black;
	text-align: center;
	&:nth-of-type(3n) {
		page-break-after: always;
	}
	.size {
		line-height: $inch;
		font-size: 48px;
		display: inline-block;
		float: left;
		width: $inch;
		height: $inch;
		margin: 20px+(.125*$inch) ((.208 * $inch)-5px) 20px 8px;
	}
	.phone {
		display: inline-block;
		width: $inch * 1.25;
		height: $inch * 1.25;
		font-size: 70px;
		line-height: $inch * 1.25;
		float: left;
		margin: 20px (.208 * $inch);
	}
	.carrier {
		line-height: $inch;
		font-size: 48px;
		display: inline-block;
		width: $inch;
		height: $inch;
		float: left;
		margin: 20px+(.125*$inch) 5px 20px ((.208 * $inch)-5);
	}
	.partNum {
		width: ($inch * 4.5) - 32px;
		font-size: 64px;
		text-align: center;
		color: $black !important;
	}
}

.iphone5cWide {
	margin: .1in;
	width: $inch * 3.5;
	height: $inch * 2;
	text-align: center;
	&:nth-of-type(4n) {
		page-break-after: always;
	}
	.carrier {
		background: $black;
		font-size: 20px;
		padding: 10px;
	}
	.partNum {
		font-size: 50px;
		padding: 25px 15px
	}
	.details {
		.size {
			display: inline-block;
		}
		.color {
			display: inline-block;
		}
	}
}

.iPhone5sLabels1 {
	font-family: $primary-medium;
	background: $white !important;
	margin: .1in;
	padding: 10px;
	width: $inch * 5.5; 
	height: $inch * 2.75;
	border: 6px solid black;
	text-align: center;
	&:nth-of-type(3n) {
		page-break-after: always;
	}
	.size {
		line-height: $inch;
		font-size: 48px;
		display: inline-block;
		float: left;
		width: $inch;
		height: $inch;
		margin: 29px+(.1*$inch) ((.1 * $inch)-5px) 20px 7px + ($inch * .75);
	}
	.phone {
		display: inline-block;
		width: $inch * 1.2;
		height: $inch * 1.2;
		font-size: 70px;
		line-height: $inch * 1.2;
		float: left;
		margin: 29px (.1 * $inch);
	}
	.carrier {
		line-height: $inch;
		font-size: 48px;
		display: inline-block;
		width: $inch;
		height: $inch;
		float: left;
		margin: 29px+(.1*$inch) 5px 20px ((.1 * $inch)-5);
	}
	.partNum {
		width: ($inch * 4) - 32px;
		font-size: 58px;
		text-align: center;
		color: $black !important;
		margin-left: ($inch * .75);
	}
}

.iPhone5sLabels2 {
	font-family: $primary-medium;
	background: $white !important;
	margin: .1in;
	padding: 10px;
	width: $inch * 4; 
	height: $inch * 2.75;
	border: 6px solid black;
	text-align: center;
	&:nth-of-type(3n) {
		page-break-after: always;
	}
	.size {
		line-height: $inch;
		font-size: 48px;
		display: inline-block;
		float: left;
		width: $inch;
		height: $inch;
		margin: 29px+(.1*$inch) ((.1 * $inch)-5px) 20px 7px;
	}
	.phone {
		display: inline-block;
		width: $inch * 1.2;
		height: $inch * 1.2;
		font-size: 70px;
		line-height: $inch * 1.2;
		float: left;
		margin: 29px (.1 * $inch);
	}
	.carrier {
		line-height: $inch;
		font-size: 48px;
		display: inline-block;
		width: $inch;
		height: $inch;
		float: left;
		margin: 29px+(.1*$inch) 5px 20px ((.1 * $inch)-5);
	}
	.partNum {
		width: ($inch * 4) - 32px;
		font-size: 58px;
		text-align: center;
		color: $black !important;
	}
}

.iphone5c {
	margin: .1in;
	width: $inch * 2.333;
	height: $inch * 2;
	text-align: center;
	&:nth-of-type(4n) {
		page-break-after: always;
	}
	.carrier {
		background: $black;
		font-size: 16px;
		padding: 10px;
	}
	.partNum {
		font-size: 36px;
		padding: 30px 10px
	}
	.details {
		.size {
			display: inline-block;
		}
		.color {
			display: inline-block;
		}
	}
}

.SILVER {
	background: $silver;
	color: $black;
	border-color: $silver;
	.size, .phone, .carrier {
		background: $silver;
		color: $black;
	}
}

.SPACEGRAY {
	background: $spaceGray;
	color: $white;
	border-color: $spaceGray;
	.size, .phone, .carrier {
		background: $spaceGray;
		color: $white;
	}
}

.GOLD {
	background: $gold;
	color: $black;
	border-color: $gold;
	.size, .phone, .carrier {
		background: $gold;
		color: $black;
	}
}

.BLUE {
	background: $blue;
	color: $white;
	.carrier {
		color: $white;
	}
}

.WHITE {
	background: $white;
	color: $black;
	.carrier {
		color: $white;
	}
}

.PINK {
	background: $pink;
	color: $black;
	.carrier {
		color: $white;
	}
}

.GREEN {
	background: $green;
	color: $black;
	.carrier {
		color: $white;
	}
}

.YELLOW {
	background: $yellow;
	color: $black;
	.carrier {
		color: $white;
	}
}