$inch: 91px;

// iPhone 5s/6/6plus colors
$spaceGray: rgb(40,40,40);
$silver: rgb(201,201,201);
$gold: rgb(176,139,70);

// iPhone 5c colors
$blue: rgb(71,178,227);
$pink: rgb(253,110,112);
$green: rgb(154,212,57);
$yellow: rgb(241,239,41);

$white: rgb(255,255,255);
$black: rgb(0,0,0);

$primary-font: 'HelveticaNeue', sans-serif;
